<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="templates/css/style.css">
    <title>Blog de films</title>


  </head>


  <body>
  {% block body %}

  {% endblock %}
  </body>





</html>
